<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjxc.csb.dao.resource.ListToolQueueMapper">
    <resultMap id="BaseResultMap" type="com.fjxc.csb.domain.resource.ListToolQueue">
        <id column="QUEUE_ID" jdbcType="DECIMAL" property="queueId"  />
        <result column="RESOURCE_ID" jdbcType="DECIMAL" property="resourceId"/>
        <result column="PARENT_QUEUE_ID" jdbcType="DECIMAL" property="parentQueueId"/>
        <result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName"/>
        <result column="RESOURCE_TYPE" jdbcType="VARCHAR" property="resourceType"/>
        <result column="RESOURCE_LEVEL" jdbcType="DECIMAL" property="resourceLevel"/>
        <result column="RESOURCE_URL" jdbcType="VARCHAR" property="resourceUrl"/>
        <result column="ACTIVE_FLAG" jdbcType="DECIMAL" property="activeFlag"/>
        <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum"/>
        <result column="APP_TYPE" jdbcType="DECIMAL" property="appType"/>
        <result column="ADD_TIME" jdbcType="DECIMAL" property="addTime"/>
        <result column="ADD_NAME" jdbcType="DECIMAL" property="addName"/>
        <result column="ADD_NO" jdbcType="DECIMAL" property="addNo"/>
    </resultMap>
    <sql id="Base_Column_List">
    queue_id, resource_id, parent_queue_id, resource_name, resource_level, resource_type, resource_url, active_flag,
     order_num, app_type, add_time, add_name, add_no
    </sql>
    <select id="getByQueueId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_tool_queue
        where queue_id = #{queueId, jdbcType=DECIMAL}
    </select>

    <select id="listByParentQueueId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_tool_queue
        where parent_queue_id = #{parentQueueId, jdbcType=DECIMAL}
    </select>

    <select id="listQueuesByAppType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_tool_queue
        where app_type = #{appType, jdbcType=DECIMAL}
        and active_flag = 1
    </select>


    <select id="listMenusByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_tool_queue
        where app_type = #{appType, jdbcType=DECIMAL}
        and resource_type = #{resourceType, jdbcType=VARCHAR}
        and active_flag = 1
        order by order_num
    </select>

    <select id="list" parameterType="com.fjxc.csb.domain.resource.ListToolQueue" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_tool_queue
        where 1 = 1
        <if test="appType != null">
            and app_type = #{appType, jdbcType=DECIMAL}
        </if>
        <if test="resourceType != null">
            and resource_type = #{resourceType, jdbcType=VARCHAR}
        </if>
        <if test="queueId != null">
            and queue_id = #{queueId, jdbcType=DECIMAL}
        </if>
        <if test="resourceId != null">
            and resource_id = #{resourceId, jdbcType=DECIMAL}
        </if>
        <if test="resourceName != null">
            and resource_name like CONCAT(CONCAT('%', #{resourceName,jdbcType=VARCHAR}), '%')
        </if>
        and active_flag = 1
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into list_tool_queue(queue_id, resource_id, parent_queue_id, resource_name, resource_level, resource_type, resource_url, active_flag,
     order_num, app_type, add_time, add_name, add_no)
        values (#{queueId}, #{resourceId},#{parentQueueId},#{resourceName},#{resourceLevel},#{resourceType},#{resourceUrl},#{activeFlag},#{orderNum},#{appType},
        #{addTime},#{addName},#{addNo})
    </insert>

    <select id="getMaxQueueId" resultType="java.lang.Integer">
        select max(queue_id) from list_tool_queue
    </select>

    <select id="countByResourceId" resultType="java.lang.Integer">
        select count(0) from list_tool_queue where resource_id = #{resourceId}
    </select>

    <update id="update" parameterType="com.fjxc.csb.domain.resource.ListToolQueue">
        update list_tool_queue
        set
        resource_name = #{resourceName},
        parent_queue_id = #{parentQueueId},
        resource_type = #{resourceType},
        resource_id = #{resourceId},
        resource_url = #{resourceUrl},
        order_num = #{orderNum},
        active_flag = #{activeFlag}
        where queue_id = #{queueId,jdbcType=INTEGER}
    </update>



</mapper>