<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjxc.csb.dao.ListToolMapper">

    <select id="690012"  resultType="java.util.HashMap">
          select ID,ABNORMAL_NO ,REASON_NAME,REASON_ID,OUT_LOCATION,
          AGENT_NAME

          from abnormal_out
    </select>

    <select id="690002"  resultType="java.util.HashMap">
              select
                  com_id,
                  com_name,
                  com_type,
                  industry_type,
                  legal_person,
                  zip_code,
                  phone1,
                  email,
                  address,
                  active_flag,
                  create_time,
                  service_start_time,
                  service_end_time,
                  company_desc,
                  remark
                  from company_info
    </select>

</mapper>