<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjxc.csb.dao.ListToolMapper">
    <select id="690003" parameterType="String" resultType="java.util.HashMap">
          select * from abnormal_out where id = '175185076630323200'
    </select>
</mapper>