
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#head_title {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg,#5090FF,#6EABF9);
}

#list_content {
    width:100%;
    height: 95%;
}